[ndb_mgmd]
NodeId=1
hostname=10.20.30.10
datadir=/var/lib/mysql

[ndbd]
NodeId=2
hostname=10.20.30.50
datadir=/var/lib/mysql

[ndbd]
NodeId=3
hostname=10.20.30.51
datadir=/var/lib/mysql

[mysqld]
NodeId=4
hostname=10.20.30.100

[mysqld]
NodeId=5
hostname=10.20.30.101
